[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# NLP & LLMs middlewares
openai = "*"
"unstructured.paddleocr" = "*"
unstructured = {extras = ["all-docs"], version = "*"}
huggingface-hub = "*"

# webui dev
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

# utils
pdf2image = "*"
python-dotenv = "*"
py-zerox = "*"
tenacity = "*"
tiktoken = "*"
toml = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.12"
